@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
      background-color: #fffffe;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #332828;
      border-radius: 10px;
  }